<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RepoLinkBot</title>
</head>
<body>
    
    {% if logged_in %}
        {% if not user.token_discord %}
            <a href="{{ url_for('auth_discord') }}">Connect Discord Account</a>
        {% elif not user.token_github %}
            <a href="{{ url_for('auth_github') }}">Connect Github</a>
        {% else %}
            <h1>Usuário conectado</h1>
        {% endif %}
        <a href="#">Connect Trello</a>
    {% else %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

    <script></script>
</body>
</html>