<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador - RepoLink</title>
</head>
<body>

    {% if logged_in %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <h1>Olá, {{ user.username }}!</h1>
        
        <a href="https://github.com" target="_blank">GitHub</a>
        <br>
        <a href="https://trello.com" target="_blank">Trello</a>
        <br><br>
        <a href="{{ url_for('logout') }}">Logout</a>

    {% else %}

        {% if logged_out %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}

        <h1>HOME - REPOLINK</h1>
        <a href="{{ url_for('login') }}">Login</a>

    {% endif %}

</body>
</html>